.cities-wrapper{
margin: 20px 20px;
    font-family: "Fredoka", sans-serif;   
    // padding: 0 80px;
    .title{
        text-align: center;
        font-size: 32px;
        padding-bottom: 30px;
        font-weight: 700;
    }
}