<footer>
    <div class="footer-wrapper">
        <div class="row align-items-center">
            <div class="col-6">
                <div class="footer-log">
                    <a href="" routerLink="/">
                        <img src="../../../assets/logo.png" alt="">
                    </a>
                </div>
                <div class="copyright-text">
                    &#169;	2022 GoGrubz Ltd. All Rights Reserved
                </div>
            </div>
            <div class="col-6">
                <div class="row align-items-center">
                    <div class="col-4" *ngFor="let item of footerLink">
                        <div *ngFor="let item of item.sublinks" class="pb-3 nav-item">
                            <a href="" routerLink="/">
                                {{item}}
                            </a>
                        </div>
                    </div>
                    <div class="col-4">
                        <p>FOLLOW US</p>
                        <div class="social-icon">
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="bi bi-instagram"></i>
                            </a>
                            <a href="https://www.twitter.com/" target="_blank">
                                <i class="bi bi-twitter"></i>
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>