<div class="download-wrapper">
    <div class="row align-items-center">
        <div class="col-6">
            <div class="app-image">
                <img src="../../../assets/app.png" alt="">
            </div>
        </div>
        <div class="col-6">
            <div class="download-text">
                    <h2>
                      Everything you <br />
                      crave, delivered.
                    </h2>
                    <p>
                      Our app gives you access to your favourite restaurants. <br>
                      Get your food delivered right to you
                    </p>
                    <div class="download-icons">
                        <div class="icon">
                            <img src="../../../assets/pngegg.png" alt="">
                        </div>
                        <div class="icon">
                            <img src="../../../assets/pngegg (1).png" alt="" srcset="">
                        </div>
                    </div>
        </div>
    </div>
</div>