<div class="join-movement">
  <div class="row align-items-center">
    <div class="col-4">
      <div class="text">
        <h2>
            Join the <br>
            movement
        </h2>
        <p>
            Grow your business and reach new <br>
            customers by partnering with us.    
        </p>
        <a href="" class="btn btn-red btn-outline-danger">Discover Cuisines</a>
      </div>
    </div>
    <div class="col-8">
      <div class="join-image">
        <img src="../../../assets/join.png" alt="" />
      </div>
    </div>
  </div>
</div>
