<div class="image-with-text">
  <div class="row align-items-center">
    <div class="col-5">
      <div class="image image1">
        <img
          src="../../../assets/burger-image.png"
          alt="sidebyside.png"
          srcset=""
        />
      </div>
    </div>
    <div class="col-7">
      <div class="text">
        <h2>
          Everything you <br />
          crave, delivered.
        </h2>
        <p>
          Get a pizza a curry delivered, or pick up some chicken <br>chow mein from
          the Chinese takeout spot you've been meaning to try.
        </p>
        <a href="" class="btn btn-red btn-outline-danger">Find Restaurant</a>
      </div>
    </div>
  </div>
</div>
<div class="image-with-text">
    <div class="row align-items-center">
        <div class="col-7">
            <div class="text">
              <h2>
                Find the perfect <br> 
                cuisine for you.
              </h2>
              <p>
                Get a pizza a curry delivered, or pick up some chicken <br>chow mein from
                the Chinese takeout spot you've been meaning to try.
              </p>
              <a href="" class="btn btn-red btn-outline-danger">Discover Cuisines</a>
            </div>
          </div>
      <div class="col-5">
        <div class="image">
          <img
            src="../../../assets/sidebyside.png"
            alt="sidebyside.png"
            srcset=""
          />
        </div>
      </div>
      
    </div>
  </div>
  